<div id="<%= dom_id membership %>">
  <p>
    <strong>User:</strong>
    <%= membership.user_id %>
  </p>

  <p>
    <strong>Invited by:</strong>
    <%= membership.invited_by %>
  </p>

  <p>
    <strong>Effectivity date:</strong>
    <%= membership.effectivity_date %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= membership.expiry_date %>
  </p>

</div>
